* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 16px/1.5 Lato, sans-serif;
}

body,
input,
textarea,
button,
select,
option {
    font: inherit;
}
